.card {
    position:relative;
    max-width: 282px;
    min-height: 361px;
    list-style: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.card__img {

    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

/*.card__title {
}*/

.card__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: right;
    align-items: center;
    padding: 0px 20px 0px 20px;
}

.card__title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__heart-button {
    height: 18px;
    width: 21px;
    transition: opacity .2s linear;
    justify-self: left;
    background: url("../images/heart-icon.svg");
    align-self: center;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    margin-right:0px;
    clear: right;
}

.card__delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18px;
    width: 19px;
    transition: opacity .2s linear;
    justify-self: left;
    background: url("../images/trash-button.svg");
    /*align-self: center;*/
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card__delete-button:hover {
    opacity: 0.6;
}

.card__heart-button_clicked {
    background: url("../images/heart-icon-black.svg");
}


.card__heart-button:hover {
    background: url("../images/heart-icon-hover.svg");
    cursor: pointer;
}


@media screen  and (min-width: 380px) and (max-width: 799px) {

    .card {
        justify-self: center;
    }    
}