.header {
    border-bottom: 0.7px solid rgb(84 84 84 / .7);
    max-width: 100;
    margin-top: 45px;
    min-height: 74px;
}


.header__logo {
    text-align: left;
    max-width: 173px;
    min-height: 33px;
}

.header__title-supertext {
    font-size: 15px;
    vertical-align: super;
}


@media screen  and (min-width: 320px) and (max-width: 799px) {
    .header {
        width: 100%;
    }
    .header__logo {
        text-align: left;
        max-width: 126px;
        min-height: 24px;
        margin-left: 27px;
    }
}