
.page {
    background-color: #000;
    color: white;
    font-family: Inter, Arial, sans-serif;
    max-width: 880px;
    margin: auto;
}


@media screen  and (min-width: 380px) and (max-width: 799px) {
    .page {
        margin: 0px 19px 0px 19px;
    }
}