


.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100;
    margin: 20px 0px 20px 0px;
}

.profile__author-img {
    width: 120px;
    height: 120px;
}

.profile__author-title {
    margin: 0px;
    max-width:415px;
    font-size: 40px;
    text-align: left;
    display: flex;
    align-self: center;
}

.profile__title-line {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-self: left;
    flex-wrap: wrap;
}

.profile__edit-button {
    display: flex;
    align-self: center;
    margin-left: 20px;
    transition: opacity 0.2s linear;
}

.profile__edit-button:hover {
    opacity: 0.6;
}



.profile__subtext {
    margin: 0px;
    display: flex;
    justify-self: flex-start;
    flex-basis: 100%;
    font-size: 15px;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-self: end;
    transition: opacity 0.2s linear;
    background-color: #000;
    border-radius: 2px;
    border: 2px solid #FFF;
}

.profile__add-button-img {
    margin:auto;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen  and (min-width: 380px) and (max-width: 799px) {

    .profile {
        display: flex;
        flex-direction: column;
    }

    .profile__add-button  {
        max-width: 282px;
        height: 50px;
    }

    .profile__title-line {
        justify-self: center;
        justify-content: center;
        margin: 20px 0px 20px 0px
    }

    .profile__subtext {
        display: flex;
        justify-self: center;
    }

    .profile__author-title {
        text-align: center;
    }

    .profile__subtext {
        margin: 0px;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    .profile__add-button {
        width: 100%;
    }

}